
<section id="contents">

    <div class="row meta">

    </div>

    <div class="row maincontent">

        <div class="columns small-12">
            <div class="row collapse header">
                <span class="title dropdown"><%= title %></span>
                <% if (label != "") { %>
                <a class="button green right"><%= label %></a>
                <% } %>
            </div>

            <div class="row collapse data">

            </div>
        </div>

    </div>

    <div class="row assetsrow" >
        <div class="columns small-12 assets">

        </div>
    </div>

    <div class="row extrarow" >

    </div>

</section>


